@use '../abstracts';

.auth {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    @include abstracts.screen(sm) {
        justify-content: flex-start;
        .show &__intro {
            translate: -100%;
        }

        .show &__content {
            translate: 0;
        }
    }

    &__intro,
    &__content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;

        @include abstracts.screen(sm) {
            min-width: 100vw;
            min-width: 100dvw;

            transition: translate 0.3s ease-in;
        }
    }

    &__intro {
        position: relative;
        gap: 49px;
        background: var(--auth-intro-bg-color);

        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &-logo {
            top: 80px;

            .logo__img {
                width: 32px;
            }

            .logo__brand {
                font-size: 2.2rem;
            }
        }

        &-next {
            bottom: 50px;
        }

        &-img {
            width: min(424px, 100%);
        }

        &-text {
            max-width: 412px;
            text-align: center;

            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
            color: var(--auth-intro-text-color);

            @include abstracts.screen(md) {
                font-size: 1.6rem;
            }
        }
    }

    &__content {
        background: var(--auth-content-bg-color);

        @include abstracts.screen(sm) {
            position: fixed;
            inset: 0;
            translate: 100%;
            overflow: visible;
            overflow-y: auto;
            z-index: 1;
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin: 0 auto;
            padding: 50px 0;
            width: min(460px, 100%);
            text-align: center;

            @include abstracts.screen(md) {
                padding: 30px 0;
            }
            @include abstracts.screen(sm) {
                justify-content: space-between;
                height: 100vh;
                height: 100dvh;
            }
        }
    }

    &__heading {
        margin-top: 50px;

        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;
        color: var(--auth-content-heading-color);

        @include abstracts.screen(md) {
            font-size: 2.5rem;
        }
        @include abstracts.screen(sm) {
            margin-top: 30px;
        }
    }

    &__desc {
        margin-top: 10px;
        padding: 0 20px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        color: var(--auth-text-color);

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
        @include abstracts.screen(sm) {
            padding: 0 30px;
        }
    }

    &__message {
        margin-top: 30px;
    }

    &__message-text {
        color: var(--auth-text-color);
    }

    &__form {
        margin-top: 60px;
        width: 100%;

        @include abstracts.screen(md) {
            margin-top: 40px;
        }
        @include abstracts.screen(sm) {
            margin-top: 30px;
        }

        &-forgot {
            margin-top: 40px;
        }
    }

    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        &:hover {
            opacity: 0.7;
        }

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
        @include abstracts.screen(sm) {
            &:hover {
                opacity: initial;
            }
        }

        &--large {
            font-size: 1.8rem;

            @include abstracts.screen(md) {
                font-size: 1.6rem;
            }
        }
    }

    &__btn-group {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include abstracts.screen(md) {
            margin-top: 40px;
        }
    }

    &__btn {
        width: 100%;
        color: var(--auth-btn-color);

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }

        &--primary {
            color: #1a162e;
        }

        &-icon {
            filter: var(--auth-btn-icon-color);
        }
    }

    &__row {
        display: flex;
        gap: 10px;
        margin-top: 108px;

        @include abstracts.screen(md) {
            margin-top: 90px;
        }
        @include abstracts.screen(sm) {
            margin-top: auto;
            padding: 30px 0;
        }
    }

    &__text {
        color: var(--auth-text-color);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }
}
