@use '../abstracts';

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abstracts.breakpoint(md) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    @extend %flexItemsCenter;
    position: relative;
    padding: 3rem 0;
    @include abstracts.breakpoint(lg) {
        padding: 2.3rem 0;
    }
    @include abstracts.breakpoint(sm) {
        padding: 1.6rem 0;
    }

    &__more {
        display: none;
        cursor: pointer;

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 114px;
    @include abstracts.breakpoint(xl) {
        margin-left: auto;
    }
    @include abstracts.breakpoint(lg) {
        position: fixed;
        background-color: var(--navbar-bg-color);
        inset: 0 36% 0 0;
        padding: 20px 0;
        translate: -100%;
        z-index: 9;

        transition: translate 0.5s ease-in;

        &.show {
            translate: 0;
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }
    @include abstracts.breakpoint(sm) {
        inset: 0 0 0 0;
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease-in-out;
        transition-property: opacity, visibility;

        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0;
            background: rgba($color: #000, $alpha: 0.4);
            z-index: 8;
        }
    }

    &__close-btn {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
            padding: 10px 40px;
            cursor: pointer;
        }
    }

    &__list {
        @extend %flexItemsCenter;

        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        &:hover {
            .dropdown {
                visibility: visible;
                opacity: 1;
                display: block;
            }
        }

        @include abstracts.breakpoint(lg) {
            width: 100%;

            &:hover .dropdown {
                display: none;
            }
        }
    }

    &__link {
        @extend %flexItemsCenter;
        padding: 0 3rem;
        gap: 0.6rem;
        height: 5rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.breakpoint(xl) {
            padding: 0 2rem;
        }

        @include abstracts.breakpoint(lg) {
            font-size: 1.6rem;
            padding: 0 4rem;
            line-height: 150%;
            justify-content: space-between;
        }
    }

    &__arrow {
        margin-top: 0.3rem;
    }
}

.top-act {
    @extend %flexItemsCenter;
    margin-left: auto;
    gap: 2rem;

    @include abstracts.breakpoint(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;
        padding: 1.3rem;
        min-width: 5rem;
        height: 5rem;
        gap: 2rem;
        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow-color);

        @include abstracts.breakpoint(md) {
            display: none;
        }

        &--multi {
            padding-right: 2rem;
            padding-left: 2rem;
        }

        &:not(&--multi) {
            @include abstracts.breakpoint(lg) {
                display: none;
            }
        }
    }

    &__btn {
        @extend %flexItemsCenter;
        gap: 1rem;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        background: var(--top-act-group-separate-color);
        width: 0.1rem;
        height: 100%;
        min-height: 3rem;
    }

    &__avatar {
        $w: 5rem;
        $h: $w;

        display: block;
        width: $w;
        height: $h;
        border-radius: 8px;
        cursor: pointer;
    }
}
