@use '../abstracts';

.cate-item {
	display: flex;
	height: 100%;
	gap: 20px;
	align-items: center;
	padding: 20px;
	border-radius: 16px;
	background: var(--cate-item-bg-color);

	@include abstracts.screen(xl) {
		flex-direction: column;
	}

	@include abstracts.screen(sm) {
		flex-direction: row;
	}

	&__thumb {
		display: block;
		width: 100px;
		height: 100px;
		-o-object-fit: contain;
		object-fit: contain;
		border-radius: 8px;
		background: var(--cate-item-thumb-bg-color);

		@include abstracts.screen(xl) {
			width: 100%;
		}

		@include abstracts.screen(sm) {
			width: 88px;
			height: 88px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-right: 26px;

		@include abstracts.screen(xl) {
			padding-right: 0;
		}
	}

	&__title {
		color: var(--cate-item-title-color);
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 145.455%;
	}

	&__desc {
		margin-top: 6px;
		font-size: 1.6rem;
		line-height: 150%;
	}
}
