@use '../abstracts';

.form {
    $error-clr: #cc3300;

    &__group {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: rgba($color: $error-clr, $alpha: 1);
            background: rgba($color: $error-clr, $alpha: 0.05);
        }

        .form__input-icon {
            display: none;

            &--error {
                display: block;

                animation: shake 0.4s ease-in;
            }
        }

        .form__error {
            display: block;
        }
    }

    &__text-input {
        display: flex;
        align-items: center;
        gap: 10px;

        padding: 0 12px;
        height: 50px;

        border-radius: 10px;
        border: 2px solid var(--form-border-color);

        @include abstracts.screen(md) {
            height: 44px;
            border-width: 1px;
        }

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__input {
        flex: 1;
        height: 100%;
        width: 100%;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }

        &::placeholder {
            user-select: none;
            color: var(--form-input-placeholder-color);
        }
    }

    &__input-icon {
        width: 24px;
        height: 24px;
        filter: var(--form-icon-color);

        &--error {
            display: none;
        }
    }

    &__error {
        display: none;
        margin-top: 10px;

        text-align: left;
        font-size: 1.2rem;
        color: $error-clr;
        font-weight: 500;
    }

    &__checkbox {
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }

    &__checkbox-input {
        display: none;

        &:checked + .form__checkbox-label::before {
            background: #ffb700;
            border-color: #ffb700;
        }

        &:checked + .form__checkbox-label::after {
            top: 40%;
            left: 4px;
            width: 15px;
            height: 7px;
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            transform: rotate(-60deg) skew(-40deg) translate(0, -50%);
        }
    }

    &__checkbox-label {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        color: var(--form-checkbox-label-color);

        user-select: none;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }

        &::before {
            content: '';
            display: block;

            width: 20px;
            height: 20px;
            border: 2px solid currentColor;
            border-radius: 5px;
        }

        &::after {
            content: '';
            position: absolute;
        }
    }

    &__pull-right {
        margin-left: auto;
    }
}
