.message {
	padding: 10px 14px;
	width: 100%;

	text-align: start;
	border: 1px solid #d2d1d6;
	background: transparent;
	border-radius: 10px;

	&__text {
		color: inherit;
		font-weight: 500;
	}

	&--success {
		background: #bfe9cf90;
		border-color: #46a05c;
	}
}
