@use '../abstracts';

.search-bar {
	display: flex;
	align-items: center;
	height: 50px;

	border-radius: 20px;
	background: var(--search-bar-bg-color);

	&__label {
		width: 100%;
		height: 100%;
	}

	&__input {
		flex: 1;
		padding-left: 20px;
		height: 100%;

		font-size: 1.4rem;
		font-weight: 500;
		line-height: 142.857%;
		color: var(--search-bar-text-color);

		@include abstracts.screen(sm) {
			font-size: 1.6rem;
		}

		@include abstracts.screen(xs) {
			width: 100%;
		}

		&::-webkit-input-placeholder {
			font-weight: 400;
		}
		&::-moz-placeholder {
			font-weight: 400;
		}
		&:-ms-input-placeholder {
			font-weight: 400;
		}
		&::-ms-input-placeholder {
			font-weight: 400;
		}
		&::placeholder {
			font-weight: 400;
		}
	}

	&__submit {
		padding: 0 20px;
		height: 100%;

		@include abstracts.screen(sm) {
			padding: 15px;
		}
	}

	&__icon {
		-webkit-filter: var(--search-bar-icon-color);
		filter: var(--search-bar-icon-color);
	}
}
