@use '../abstracts';

* {
	transition: 0.2s linear;
	transition-property: box-shadow, background;

	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	color: var(--text-color);
	background: var(--body-bg-color);
}

a,
img,
button,
input,
[tabindex],
select,
label,
textarea {
	padding: 0;
	font-family: inherit;
	color: inherit;
	outline: none;
	border: none;
}

textarea,
input {
	background: transparent;
}

input {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-transition: background-color 1s 99999999s;
		transition: background-color 1s 99999999s;
		-webkit-text-fill-color: var(--text-color);
		caret-color: var(--text-color);
	}
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

i,
em {
	font-style: italic;
}

b,
strong {
	font-weight: 600;
}

.icon {
	-webkit-filter: var(--icon-color);
	filter: var(--icon-color);
}

.dark-mode {
	position: fixed;
	bottom: 5rem;
	right: 5rem;
	width: 5rem;
	height: 5rem;
	color: var(--text-color);
	border-radius: 50%;
	border: 1px solid var(--text-color);

	opacity: 0;
	transition: 0.125s linear;
	transition-delay: 1.5s;
	transition-property: opacity, visibility;
	z-index: 9999;

	&:hover {
		cursor: pointer;
		color: var(--text-color);

		opacity: 1;
		visibility: visible;
		transition-delay: initial;
		transition-property: opacity, visibility;
	}
}

.container {
	@include abstracts.screen(sm) {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

.separate {
	margin-top: var(--margin-block);
	margin-bottom: var(--margin-block);
	height: 1px;
	background-color: var(--separate-color);
}
