<div class="footer__inner">
    <div class="container footer__container">
        <div class="footer__row row row-cols-4 row-cols-md-2 row-cols-sm-1 gx-6 gx-sm-0">
            <div class="col">
                <!-- Col-1 -->
                <div class="footer__col">
                    <!-- Logo -->
                    <a href="./" class="logo footer__logo">
                        <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                        <h2 class="logo__brand">grocerymart</h2>
                    </a>

                    <!-- Slogan -->
                    <p class="footer__slogan">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, provident.
                    </p>

                    <label class="footer__subscribe-text d-none d-lg-flex" for="footer__input"
                        >Receive news and updates.</label
                    >
                    <form action="POST" class="footer__subscribe-form d-none d-lg-flex">
                        <input
                            type="text"
                            id="footer__input"
                            class="footer__input"
                            placeholder="Enter your email"
                        />
                        <button type="submit" class="footer__submit btn btn--primary">
                            Send <img src="./assets/icons/send.svg" alt="" class="footer__submit-icon" />
                        </button>
                    </form>
                </div>
            </div>
            <div class="col">
                <!-- Col-2 -->
                <div class="footer__col">
                    <h3 class="footer__heading">Shop</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__link">All Departments</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Fashion Deals</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Electronics Discounts</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Home & Living Specials</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Beauty Bargains</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <!-- col-3 -->
                <div class="footer__col">
                    <h3 class="footer__heading">Company</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__link">Customer Service</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Privacy</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Careers</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">About</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Affiliates</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <!-- col-4 -->
                <div class="footer__col">
                    <h3 class="footer__heading">Contact</h3>
                    <ul class="footer__list">
                        <li>
                            <p class="footer__label">Email</p>
                            <a href="mailto:contact@grocerymart.com" class="footer__link">
                                contact@grocerymart.com
                            </a>
                        </li>
                        <li>
                            <p class="footer__label">Hotline</p>
                            <a href="tel:18008xxx" class="footer__link">18008xxx</a>
                        </li>
                        <li>
                            <p class="footer__label">Address</p>
                            <p class="footer__text">Ho Chi Minh City - Viet Nam</p>
                        </li>
                        <li>
                            <p class="footer__label">Opening hours</p>
                            <p class="footer__text">Monday - Saturday</p>
                            <p class="footer__text">08:00am - 06:00pm</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer__row row row-cols-2 row-cols-md-1 gx-md-5">
            <!-- Col-1 -->
            <div class="col col-6 d-md-none">
                <div class="footer__col">
                    <label class="footer__subscribe-text" for="footer__input"
                        >Receive news and updates.</label
                    >
                    <form action="POST" class="footer__subscribe-form">
                        <input
                            type="text"
                            id="footer__input"
                            class="footer__input"
                            placeholder="Enter your email"
                        />
                        <button type="submit" class="footer__submit btn btn--primary">
                            Send <img src="./assets/icons/send.svg" alt="" class="footer__submit-icon" />
                        </button>
                    </form>
                </div>
            </div>

            <!-- Col-1 -->
            <div class="col">
                <div class="footer__col">
                    <div class="footer__socials">
                        <a href="#!" class="footer__social-link footer__social-link--facebook">
                            <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon icon" />
                        </a>
                        <a href="#!" class="footer__social-link footer__social-link--youtube">
                            <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon icon" />
                        </a>
                        <a href="#!" class="footer__social-link footer__social-link--tiktok">
                            <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon icon" />
                        </a>
                        <a href="#!" class="footer__social-link footer__social-link--twitter">
                            <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon icon" />
                        </a>
                        <a href="#!" class="footer__social-link footer__social-link--linkedin">
                            <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon icon" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <p class="footer__copyright">© 2024 by 777hanh.</p>
        </div>
    </div>
</div>
