<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button type="button" class="top-bar__more">
            <img src="./assets/icons/more.svg" alt="" class="icon top-bar__more-icon" />
        </button>

        <!-- Logo -->
        <a href="./" class="logo">
            <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
            <h2 class="logo__brand">grocerymart</h2>
        </a>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"
                        >Departments
                        <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__arrow" />
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum soluta tempore
                            molestiae quam laborum, vitae, eaque saepe nostrum nesciunt nemo quod fuga ea
                            dolor aliquam in earum temporibus veritatis nisi, consectetur possimus hic
                            exercitationem eveniet. Delectus at, temporibus minima, modi voluptas fugiat
                            libero perferendis nostrum accusantium distinctio cupiditate facere sit?
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"
                        >Grocery
                        <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__arrow" />
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum soluta tempore
                            molestiae quam laborum, vitae, eaque saepe nostrum nesciunt nemo quod fuga ea
                            dolor aliquam in earum temporibus veritatis nisi, consectetur possimus hic
                            exercitationem eveniet. Delectus at, temporibus minima, modi voluptas fugiat
                            libero perferendis nostrum accusantium distinctio cupiditate facere sit?
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"
                        >Beauty
                        <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__arrow" />
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum soluta tempore
                            molestiae quam laborum, vitae, eaque saepe nostrum nesciunt nemo quod fuga ea
                            dolor aliquam in earum temporibus veritatis nisi, consectetur possimus hic
                            exercitationem eveniet. Delectus at, temporibus minima, modi voluptas fugiat
                            libero perferendis nostrum accusantium distinctio cupiditate facere sit?
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Action -->
        <div class="top-act">
            <div class="top-act__group">
                <div class="top-act__btn">
                    <img src="./assets/icons/search.svg" alt="" class="icon top-act__icon" />
                </div>
            </div>

            <div class="top-act__group top-act__group--multi">
                <div class="top-act__btn">
                    <img src="./assets/icons/heart.svg" alt="" class="icon top-act__icon" />
                    <span class="top-act__title">03</span>
                </div>

                <div class="top-act__separate"></div>

                <div class="top-act__btn">
                    <img src="./assets/icons/buy.svg" alt="" class="icon top-act__icon" />
                    <span class="top-act__title">$65.42</span>
                </div>
            </div>

            <div class="top-act__user">
                <img src="./assets/img/avatar.jpg" alt="" class="top-act__avatar" />
            </div>
        </div>
    </div>
</div>
